/*  
    by: Treuk, Velislei A
    email: velislei@gmail.com
    Copyright(c) April/2023
    All Rights Reserveds    
    Permitido uso para estudantes de código
*/

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

body,
html {
  background: radial-gradient(circle, #e2e2d1 0%, #ebebc0 100%);
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  font-family: "Luckiest Guy", cursive;
  /*Original: Luckiest Guy, Goudy Stout, Monotype Corsiva, Blackadder ITC, Brush Script MT, Curlz MT*/
}

.placa-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placa-GameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.placa-go {
  position: absolute;
  top: 50%;
  left: -150px;
  transform: translate(-50%, -50%);
}

.placa-restart {
  position: absolute;
  top: 100%;
  left: 35%;

}

.placar {
  position: absolute;
  top: 25%;
  left: 85%;
  transform: translate(-50%, -50%);

}

h1 {
  margin: 0;
  font-size: 4em;
  padding: 0;
  color: rgb(255, 106, 0);
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}

h1 span {
  transform: scale(0.9);
  display: inline-block;
}

h1 span:first-child {
  -webkit-animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

h1 span:last-child {
  -webkit-animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

h2 {
  margin: 0;
  font-size: 3em;
  padding: 0;
  color: rgb(255, 106, 0);
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}

h2 span {
  transform: scale(0.9);
  display: inline-block;
}

h2 span:first-child {
  -webkit-animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

h2 span:last-child {
  -webkit-animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}


h3 {
  margin: 0;
  font-size: 2em;
  padding: 0;
  color: rgb(255, 106, 0);
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}

h3 span {
  transform: scale(0.9);
  display: inline-block;
}

h3 span:first-child {
  -webkit-animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

h3 span:last-child {
  -webkit-animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@-webkit-keyframes bop {
  0% {
    transform: scale(0.9);
  }

  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }

  50%,
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes bopB {
  0% {
    transform: scale(0.9);
  }

  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }

  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}